.margin-1 {
    margin: 0.25rem;
}
.padding-2 {
    margin: 0 0 0.5rem 0.5rem;
}

.air-left {
    margin-left: 1rem;
}

.air-right {
    margin-right: 1rem;
}

.air-top {
    margin-top: 1rem;
}

.air-bottom {
    margin-bottom: 1rem;
}

.box {
    border-radius: 0.5rem;
}

.h4 {
    font-size: 2.28rem;
}

.h5 {
    font-size: 1.64rem;
}

.addition {
    font-style: italic;
    color: #888;
}

.flex-center {
    display: flex;
    justify-content: space-around; 
}

.flex-between {
    display: flex;
    justify-content: space-between; 
}

.flex-vert {
    display: flex;
    align-items: center;
}

.flex-left, .flex-top {
    display: flex;
    justify-content: flex-start; 
}

.flex-right, .flex-bottom{
    display: flex;
    justify-content: flex-end; 
}

/** Flow components **/
.flow-content {
    position: relative;
}

.flow-handler-line {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    width: 0.5rem;
    z-index: -1;
    border-radius: 1rem;
    left: 1.85rem;
}    
.flow-dh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.flow-dh > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2; 
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer; 
}

.flow-footer {
    display: flex;
    align-items: center;
}

.flow-footer > div {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.flow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    padding: 0.5rem;
}
.flow-icon > i {
    font-size: 3rem;
    color: #fff;
    margin-left: 0.1rem;
}

.flow-icon-rotate {
    transform:rotate(90deg);
}

.flow-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #fff; 
    cursor: pointer;
}
